.elementor-148 .elementor-element.elementor-element-2ef9abc>.elementor-container {
    max-width: 1380px;
}

.elementor-148 .elementor-element.elementor-element-2ef9abc {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 50px 0px 100px;
}

.elementor-bc-flex-widget .elementor-148 .elementor-element.elementor-element-296ca45.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-296ca45.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-b5cc03d .elementor-heading-title {
    color: var( --e-global-color-f090ee4);
    font-family: "Rajdhani", Sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.3em;
}

.elementor-bc-flex-widget .elementor-148 .elementor-element.elementor-element-9acd074.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-9acd074.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-aae1aaa img {
    height: 250px;
    object-fit: contain;
}

.elementor-148 .elementor-element.elementor-element-aae1aaa>.elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-148 .elementor-element.elementor-element-7c0fd43>.elementor-container {
    max-width: 1380px;
}

.elementor-148 .elementor-element.elementor-element-7c0fd43 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.elementor-bc-flex-widget .elementor-148 .elementor-element.elementor-element-f03d85c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-f03d85c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-96e0778 .elementor-button {
    font-family: "Rajdhani", Sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    line-height: 1em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    border-radius: 40px 40px 40px 40px;
}

.elementor-148 .elementor-element.elementor-element-96e0778 .elementor-button:hover,
.elementor-148 .elementor-element.elementor-element-96e0778 .elementor-button:focus {
    background-color: var( --e-global-color-primary);
}

.elementor-bc-flex-widget .elementor-148 .elementor-element.elementor-element-df525e3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-df525e3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-8bfef42 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-148 .elementor-element.elementor-element-8bfef42 .elementor-widget-container {
    text-align: left;
}

.elementor-148 .elementor-element.elementor-element-8bfef42 .elementor-social-icon {
    background-color: var( --e-global-color-f090ee4);
}

.elementor-148 .elementor-element.elementor-element-8bfef42 .elementor-social-icon i {
    color: var( --e-global-color-3c1c6df);
}

.elementor-148 .elementor-element.elementor-element-8bfef42 .elementor-social-icon svg {
    fill: var( --e-global-color-3c1c6df);
}

.elementor-148 .elementor-element.elementor-element-0bf6081>.elementor-container {
    max-width: 1380px;
}

.elementor-148 .elementor-element.elementor-element-0bf6081 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-148 .elementor-element.elementor-element-35d134b>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF2B;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-148 .elementor-element.elementor-element-35d134b>.elementor-element-populated,
.elementor-148 .elementor-element.elementor-element-35d134b>.elementor-element-populated>.elementor-background-overlay,
.elementor-148 .elementor-element.elementor-element-35d134b>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-35d134b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-148 .elementor-element.elementor-element-40f198d {
    text-align: center;
}

.elementor-148 .elementor-element.elementor-element-40f198d .elementor-heading-title {
    font-family: "Rajdhani", Sans-serif;
    font-weight: 700;
    line-height: 1.3em;
}

@media(max-width:767px) {
    .elementor-148 .elementor-element.elementor-element-2ef9abc {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-148 .elementor-element.elementor-element-b5cc03d {
        text-align: center;
    }
    .elementor-148 .elementor-element.elementor-element-b5cc03d .elementor-heading-title {
        font-size: 3em;
    }
    .elementor-148 .elementor-element.elementor-element-7c0fd43 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .elementor-148 .elementor-element.elementor-element-96e0778 .elementor-button {
        font-size: 1.5em;
    }
    .elementor-148 .elementor-element.elementor-element-8bfef42 .elementor-widget-container {
        text-align: center;
    }
}